/build
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
/.idea/codeStyles/codeStyleConfig.xml
/.idea/gradle.xml
/gradlew
/gradlew.bat
/.idea/.name
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/dictionaries/
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/
